<table border="0" cellspacing="0" cellpadding="3" width="95%" style="font-family: arial, helvetica, sans-serif;font-size:10px;color:#000;">
    <thead>
    <tr>
        <td style="font-weight:bold;background-color:#eaeaea;border-top:2px solid gray;">S.No.</td>
        <td style="font-weight:bold;background-color:#eaeaea;border-top:2px solid gray;">Product Details</td>
        <td style="font-weight:bold;background-color:#eaeaea;border-top:2px solid gray;">Qty</td>
        <td width="13%" align="right" style="font-weight:bold;background-color:#eaeaea;border-top:2px solid gray;">List Price</td>
        <td width="13%" align="right" style="font-weight:bold;background-color:#eaeaea;border-top:2px solid gray;">Sub Total</td>
        <td width="13%" align="right" style="font-weight:bold;background-color:#eaeaea;border-top:2px solid gray;">Discount</td>
        <td width="13%" align="right" style="font-weight:bold;background-color:#eaeaea;border-top:2px solid gray;">Total</td>
    </tr>
    </thead>
    <tbody id="lineItem">
    <tr>
        <td style="border-bottom:2px dotted #dadada" valign="top"><b>${serialNumber}</b></td>
        <td style="border-bottom:2px dotted #dadada"><b>${Products.Product Name}&nbsp;${Products.Product Code}</b><br></td>
        <td valign="top" style="border-bottom:2px dotted #dadada">${SalesOrders.Qty}</td>
        <td valign="top" align="right" style="border-bottom:2px dotted #dadada">${SalesOrders.List Price}</td>
        <td valign="top" align="right" style="border-bottom:2px dotted #dadada">${SalesOrders.Sub Total}</td>
        <td valign="top" align="right" style="border-bottom:2px dotted #dadada">${SalesOrders.Individual Discount}</td>
        <td valign="top" align="right" style="border-bottom:2px dotted #dadada">${SalesOrders.Total}</td>
    </tr>
    </tbody>
    <tbody>
    <tr>
        <td align="right" colspan="6">Sub Total</td>
        <td align="right"><b>${SalesOrders.Sub Total}</b></td>
    </tr>
    <tr>
        <td align="right" colspan="6">Discount</td>
        <td align="right">-${SalesOrders.Discount}</td>
    </tr>
    <tr>
        <td align="right" colspan="6">Tax</td>
        <td align="right">${SalesOrders.Tax}</td>
    </tr>
    <tr>
        <td align="right" colspan="6" style="border-bottom:2px solid #ccc"><b>Grand Total</b></td>
        <td align="right" style="border-bottom:2px solid #ccc;border-top:2px solid #dadada;"><b>${SalesOrders.Grand Total}</b></td>
    </tr>
    </tbody>
</table>