<table style="font-size: 12px;text-align: center;border-top-width: 2px; border-top-style: solid; border-top-color: gray;background-color: #eaeaea;" border="0" cellpadding="5" cellspacing="0" width="100%">
    <tbody><tr valign="top" bgcolor="#c2c2d6">
        <td><b>מספר מוצר</b></td>
        <td><b>תאור מוצר</b></td>
        <td><b>כמות</b></td>
        <td width="10%"><b>מחיר ליחידה</b></td>
        <td width="10%"><b>סה''כ</b></td>
        <td width="10%"><b>הנחה</b></td>
        <td width="10%"><b>סה''כ לאחר הנחה</b></td>
    </tr>
    </tbody>
    <tbody id="lineItem">
    <tr valign="top" >
        <td>${serialNumber}</td>
        <td align="right"><b>${Products.Product Name}</b><br>${SalesOrders.Product Description}</td>
        <td>${SalesOrders.Qty}</td>
        <td>${SalesOrders.List Price}</td>
        <td>${SalesOrders.Total}</td>
        <td>${SalesOrders.Individual Discount}</td>
        <td>${SalesOrders.Total After Discount}</td>
    </tr>
    </tbody>
    <tbody>
    <tr valign="top">
        <td colspan="5"></td>
        <td align="right">מחיר כולל</td>
        <td>${SalesOrders.Sub Total}</td>
    </tr>
    <tr valign="top">
        <td colspan="5"></td>
        <td align="right">מע''מ</td>
        <td>${SalesOrders.Tax}</td>
    </tr>     <tr valign="top">
        <td colspan="5"></td>
        <td align="right">סה''כ מחיר</td>
        <td>${SalesOrders.Grand Total}</td>
    </tr>
    </tbody>
</table>